$backgroundAndTextFirstColor : rgba(19, 55, 96, 0.82);
$backgroundAndTextHoverFirstColor : #fff ;
$backgroundAndTextSecondColor : #436491;
$footerTextColor : #569384;
$backgroundPrimaryColor: #ffffff;
$backgroundSecondaryColor: rgb(90 142 92);
