.userPhoto {
    width: 80px;
    height: 80px;
}
.selectedPage{
    background-color: #4CAF50;
    padding: 8px 16px;
    color: white;
}
.pagination {
    display: inline-block;
}
.pages {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
.pages:hover{
    background-color: white;
}